typings
**/app/**/*.js
**/app/**/*.map
node_modules
.vscode
npm-debug.log
packages
rehnzWebAPI/packages
rehnzWebAPI/rehnzWebAPI/rehnzWebAPI/bin
rehnzWebAPI/rehnzWebAPI/rehnzWebAPI/obj
rehnzWebAPI/rehnzWebAPI/.vs
out/